
#root {
    background: linear-gradient(-45deg, #30160e, #350c1c, #081f28, #083228);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.App{
    display: flex;
    width: 60vw;
    height: 100vh;
    margin-left: 20vw;
    flex-direction: column;
    background-color: rgba(13, 17, 23,.6);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;



}
h1{
    text-align: center;
    color: #b5b5b5;
}
input#formTodo,input.form-control{
    background-color : #161B22 ;
    border: #373740;
}
header{

    display: flex;
    height: fit-content;
    flex-direction: column;
    width: 100%;

}
section{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    position: relative;
}
.botHeader{
    width: 50vw;
    align-self: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-bottom: 5%;

    justify-content: space-between;
}

.topHeader{

    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin-bottom: 3%;
    justify-content: space-between;
}
.pHeader{
    display: flex;

}
#forma{
    display: flex;
    width: 50vw;
    align-self: center;
    margin-bottom: 2%;

}
.sHeader{
    display: flex;
    
}

.Agendas{
    display: flex;
    flex-direction: row;

}
p.pHeader{
    display: flex;
    align-self: center;
    color: white;
    font-size: 1.5vw;
}
.formAgenda{
    display: flex;
    justify-content: flex-end;
}
#todoElemfalse{
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-self: center;
    justify-content: space-between;
    border: 1px solid rgba(43, 43, 43, 0.6);
    background-color: #161B22;


}
#todoElemtrue{
    background-color: #470913;
    display: flex;
    flex-direction: row;
    width: 50vw;
    align-self: center;
    justify-content: space-between;
    border: 1px solid rgba(43, 43, 43, 0.6);

}
p{
    margin: 0px;
    padding: 0px;
}
#todoP{
    align-self: center;
    display: flex;
    justify-content: center;
    height: fit-content;
    text-align: center;
    width: 50vw;

    align-items: center;

}

#datep{
    display: block;
    color: #949393;
    font-size: 70%;
    left: 0px;
    width: 10%;


}
#ppp{

    display: flex;
    color: white;
}
#agendaP{
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 100%;
    align-items: center;

}
#aaa{
    display: flex;
}
.todoB{
    display: flex;
    width: 10%;
    justify-self: flex-end;
    justify-content: center;
}
main{
    display: flex;
    width: 100%;

    flex-direction: column;
}
.formTasks{
    display: flex;
    align-self: center;
    width: fit-content;
}
.tasks{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.dropdown-menu show{
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(0px, 24px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

}
div.dropdown-menu.show{
    background-color: #161B22;
}
.dropdown a{
    color: white;
}
button.sign-in.btn.btn-outline-light{
    display: block;
    position: absolute;
    top: 50vh;
    left: 40%;
    width: 20%;

}
#h1-signIn{
    margin-top: 25%;
    font-size:4rem ;
}

div.react-confirm-alert-overlay{
    background-color: rgba(0,0,0,0.6);

}
div.react-confirm-alert-body{
    background-color: #161B22;
}
div.react-confirm-alert-body button{
    background: white;
    color: black;
}
input.mx-3.my-2.w-auto.form-control{
    background-color: #181e28;
    color: white;
}
input.mx-3.my-2.w-auto.form-control::placeholder{
    color: #ababab;
}
a.Agendas.dropdown-item:hover{
    background-color: #19202b;
    color: white;
}


/*checkbox animation credit :
     https://codepen.io/estrepitos/pen/qGmHc
 */

.onoff {

    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    cursor: pointer;
    width: 75px;
    height: 100%;
    line-height: 30px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.onoff label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #161B22;

    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    -webkit-transition: background 0.3s, text-indent 0.3s;
    -moz-transition: background 0.3s, text-indent 0.3s;
    -o-transition: background 0.3s, text-indent 0.3s;
    transition: background 0.3s, text-indent 0.3s;
    text-indent: 30px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}
.onoff label:after {
    content: 'not ⚠';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 12px;
    color: #706f6f;

    z-index: 1;
}
.onoff label:before {
    content: '';
    width: 15px;
    height: 80%;
    border-radius: 3px;
    background: #FFF;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 3px;
    display: block;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.onoff input:checked + label {
    background: #922020;
    text-indent: 17px;

}
.onoff input:checked + label:after {
    content: 'is ⚠';
    color: #091707;
}
.onoff input:checked + label:before {
    left: 57px;
}