.App{
    display: flex;
    width: 70vw;
    height: 100vh;
    margin-left: 15vw;
    flex-direction: column;


}
header{

    display: flex;
    height: fit-content;
    flex-direction: column;
    width: 100%;

}
section{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    position: relative;
}
.botHeader{
    width: 60vw;
    align-self: center;
    display: flex;
    flex-direction: row;
    height: fit-content;

    justify-content: space-between;
}

.topHeader{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}
.pHeader{
    display: flex;

}
#forma{
    display: flex;
    width: 60vw;
    align-self: center;

}
.sHeader{
    display: flex;
    
}

.Agendas{
    display: flex;
    flex-direction: row;

}
.listAgendas{
    display: flex;
    justify-content: flex-start;
}
.formAgenda{
    display: flex;
    justify-content: flex-end;
}
.todoElem{
    display: flex;
    flex-direction: row;
    width: 60vw;
    align-self: center;
    justify-content: space-between;


}
#todoP{
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 60vw;
    align-self: center;
    align-items: center;

}
#ppp{
    display: flex;
}
#agendaP{
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 100%;
    align-items: center;

}
#aaa{
    display: flex;
}
.todoB{
    display: flex;
    width: fit-content;
    justify-self: flex-end;
}
main{
    display: flex;
    width: 100%;

    flex-direction: column;
}
.formTasks{
    display: flex;
    align-self: center;
    width: fit-content;
}
.tasks{
    display: flex;
    justify-content: center;
    flex-direction: column;
}